main{
    padding: 1rem;
    margin-top: 2.5rem;
}
#resume-editor{
    width: 100%;
    h1{
        font-size: 2rem;
        text-align: center;
        text-decoration: underline;
        margin: 2rem;
    }
}
.cv-form {
    display: flex;
    flex-direction: column;
    max-width: 1420px;
    margin: auto;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 0 5px #00274D;
}
.cv-form h3{
    text-align: center;
    background-color: #00274D;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;

}
label{
    font-size: 1.2rem;
}

.cv-form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cols-2 {
    display: flex;
    gap: 20px;
}

.cols-3 {
    display: flex;
    gap: 20px;
}

.form-elem {
    flex: 1;
    flex-wrap: wrap;
}

.form-label {
    display: block;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.form-control {
    height: 50px;
}
input{
    height: 50px;
}

.repeater {
    display: flex;
    align-items:baseline;
    gap: 10px;
}

.repeater-add-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.preview-cnt-l, .preview-cnt-r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.preview-item, .preview-blk {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
    
}
.resume-field{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #00274D;
    font-size: 1.1rem;
    padding: 1.1rem;
}
.preview-image img {
    max-width: 100%;
    border-radius: 50%;
}

#preview-sc {
    max-width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #00274D;
    margin-bottom: 2rem;
    h3{
        color: white;
        font-size: 2rem;
        text-align: center;
        margin:2rem 0 ;
    }
}
#image_dsp{
    width: 40%;
    margin: auto;
}
.download-btns{
    display: flex;
    justify-content: center;
    margin-bottom:6rem;
    gap: 1rem;
    button{
        padding: 0.8rem 1rem;
        color: white;
        background-color: #00274D;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
    }


}
.btn{
    width: fit-content;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #00274D;
    color: white;
    border-radius: 10px;
    border: none;

}
.inputContainer{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* button{
        background-color: red;
        color: white;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    } */
}
.remove-btn{
    background-color: red;
        color: white;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
}
.achivements-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#achievements_dsp{
    width: 100%;
    display: flex;
}
.experience-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.experiences{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cv-preview{
    color: white;
}


