


/* #template-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template-preview {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}

#resume-editor {
    margin-top: 20px;
} */
#intro{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    border-color: #FF6F61;
    color: white;
    position: relative;
    h2{
        font-size: 2.5rem;
        color: #FF6F61;
    }
    p{
        font-size: 1.2rem;
    }
    
}
#intro .bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/sebastian-herrmann-n4_Q2dDYy80-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
    box-shadow: 0 0 10px 10px #114d89;


}
.cta-button {
    color: white;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #FF6F61;
    border-radius: 20px;
    margin-top: 5rem;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.cta-button:hover{
    background-color: #FF6F61;
}

#main-features{
    max-width: 1360px;
    width: 100%;
    padding: 3rem;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: white;
    background-color: #00274D;
    border-radius: 5px;
    h1{
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6F61;
        
    }
   
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
       width: 45%;
       height: 50vh;
       border-radius: 10px;
       box-shadow: 0 0 10px #FF6F61;
    }
}
.features:nth-child(even){
    flex-direction: row-reverse;
}
.features-des{
    width: 45%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #114d89;
    h2{
        color: #FF6F61;
    }
}


.resume-templates{
    max-width: 1360px;
    width: 100%;
    padding: 3rem;
    margin: 5rem auto;
    text-align: center;
    background-color: #00274D;
    border-radius: 5px;
    h1{
        color: white;
        text-align: center;
        font-size: 2.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6F61;
    }
}
.resume-templates .templates{
    height: 50vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    button{
        font-size: 2rem;
    }
}
.resume-templates .templates img{
    width: 20rem;
    height: 40vh;
    border-radius: 10px;
}
.slick-next:before, .slick-prev:before {
    font-size: 2rem!important;
    
}
.slick-prev{
    left: -3%!important;
}
.slick-next{
    right: -2%!important;
}

